@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-button {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 32px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.2s ease-in-out;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.toggle-checkbox:checked + .toggle-label .toggle-slider {
  transform: translateX(26px);
}

.toggle-button.checked {
  background-color: #4caf50;
}
